/*!CK:1682042386!*//*1404133693,*/

.sp_pbt0NsjFWZW{background-image:url(/rsrc.php/v2/yQ/r/c9S6ncuHUpk.png);background-size:15px 30px;background-repeat:no-repeat;display:inline-block;height:14px;width:14px}.sp_pbt0NsjFWZW.sx_c899c9{width:12px;background-position:0 -15px}.sp_pbt0NsjFWZW.sx_c25e20{background-position:0 0}

#bootloader_4e3dL { height: 42px; }
.bootloader_4e3dL { display:block !important; }