/*!CK:340711229!*//*1408976221,*/

.sp_-7n9ZRMp3hB{background-image:url(/rsrc.php/v2/ya/r/zRO6NwOFr1Z.png);background-size:33px 182px;background-repeat:no-repeat;display:inline-block;height:32px;width:32px}.sp_-7n9ZRMp3hB.sx_3ffc55{width:16px;height:16px;background-position:0 -165px}.sp_-7n9ZRMp3hB.sx_5309cb{width:13px;height:16px;background-position:-17px -165px}.sp_-7n9ZRMp3hB.sx_e97e90{background-position:0 0}.sp_-7n9ZRMp3hB.sx_3c9078{background-position:0 -33px}.sp_-7n9ZRMp3hB.sx_beeada{background-position:0 -66px}.sp_-7n9ZRMp3hB.sx_cc3c0f{background-position:0 -99px}.sp_-7n9ZRMp3hB.sx_ab2fd8{background-position:0 -132px}

#bootloader_l6l6X { height: 42px; }
.bootloader_l6l6X { display:block !important; }